<%
=begin%>
The number of Users will be displayed here
<%
=end%>

<div class="container">
 <h1 class="heading">InstaRails</h1>
 <% @users.each do |user|%>
 <a href="/users/<%= user.id%>">
   <div class="users-list">
     <img src=<%= user.photo %>>
     <div class="description">
       <h2> <%= user.name %></h2>
       <h4>Number of posts: <%= user.posts_counter %></h4>
     </div>
   </div>
   </a>
 <%end%>
 </div>
