/* styles.scss */

:root {
  --primary-color: #218a58;
  --secondary-color: rgb(8, 103, 35);
  --gray-color: rgb(192, 186, 186);
  --dark-gray-color: gray;
  --font-family: 'lato', sans-serif;
  --font-size: 1.1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #021e09;
  color: white;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.heading {
  width: 100%;
  background-color: #fff;
  color: #173a09;
  text-align: center;
}

.users-list,
.detail-description,
.detail-container {
  width: auto;
  display: flex;
  gap: 10px;
}

img {
  width: 200px;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}

.description:hover {
  color: rgb(185, 183, 183);
  transition: 0.2s ease-in-out;
}

.user-detail,
.post-detail {
  padding: 20px;
}

.recent-posts {
  color: white;
}

.single-post {
  border: 1px solid white;
  margin: 10px 0;
  padding: 10px;
  width: 50%;
  color: white;
}

.single-post:hover h2 {
  color: #d4d4ff;
  transition: 0.1s ease-in;
}

.bio p {
  font-style: italic;
}

.button {
  background-color: white;
  color: #323253;
  padding: 5px 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #a0a0e9;
  transition: 0.16s ease;
}

.detail-container {
  margin: 20px 0 10px;
}

hr {
  width: 50%;
}

.one-comment {
  border: 1px solid white;
  margin: 10px 0;
  padding: 10px;
  width: 50%;
}

.one-comment:hover h2 {
  color: #d4d4ff;
  font-size: 26px;
  transition: 0.1s ease-in;
}

.comment-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-like-button {
  display: flex;
  gap: 10px;
}

.comment-like-button a {
  color: rgb(0, 0, 0);
}

.single-button {
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 5px;
}

.single-button:hover {
  background-color: #04042b;
  transition: 0.2s ease;
}

.comment-box {
  width: 200px;
  padding: 5px;
  border: 1px solid white;
  color: rgb(0, 0, 0);

  &::placeholder {
    color: rgb(126, 126, 126);
  }
}

.comment-button {
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 5px;
}

/* Second section */

.devise-container {
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2%;
  background-color: var(--primary-color);
  max-width: 40%;
  margin: 10% auto 0;
  border-radius: 8px;
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.3);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.links a {
  color: white;
  margin-top: -19px;
}

.devise-container input::placeholder {
  color: var(--gray-color);
}

.devise-container a:hover {
  color: var(--secondary-color);
}

.devise-container input {
  width: 250px;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
}

#user_remember_me {
  width: auto;
  margin-right: 10px;
}

.remember-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember-me-field {
  flex: 1;
}

.actions input {
  border-radius: 5px;
  background: rgb(10, 67, 27);
  border: 0;
  color: white;
  font-size: 1.1rem;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.actions input:hover {
  background: rgb(23, 125, 159);
  transition: 0.2s ease-in-out;
}

.login-container input:not([type="checkbox"]):not([type="submit"]) {
  outline: 0;
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  border: 0.5px solid var(--dark-gray-color);
  padding: 1% 2%;
  font-size: var(--font-size);
}

.new_user {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.1rem;
}
